<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/results}" th:object="${customer}" method="post">
    <input type="hidden" th:field="*{id}" />
    Title: <input type="text" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br />
    First Name: <input type="text" th:field="*{first_name}" />
    <span th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}"></span><br />
    Last Name: <input type="text" th:field="*{last_name}" />
    <span th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}"></span><br />
    Street Address: <input type="text" th:field="*{street_address}" />
    <span th:if="${#fields.hasErrors('street_address')}" th:errors="*{street_address}"></span><br />
    Zip Code: <input type="text" th:field="*{zip_code}" />
    <span th:if="${#fields.hasErrors('zip_code')}" th:errors="*{zip_code}"></span><br />
    E-mail Address: <input type="text" th:field="*{email_address}" />
    <span th:if="${#fields.hasErrors('email_address')}" th:errors="*{email_address}"></span><br />
    City: <input type="number" th:field="*{city_id}" />
    <span th:if="${#fields.hasErrors('city_id')}" th:errors="*{city_id}"></span><br />
    State: <input type="number" th:field="*{state_id}" />
    <span th:if="${#fields.hasErrors('state_id')}" th:errors="*{state_id}"></span><br />
    Company: <input type="number" th:field="*{company_id}" />
    <span th:if="${#fields.hasErrors('company_id')}" th:errors="*{company_id}"></span><br />
    Position: <input type="number" th:field="*{position_id}" />
    <span th:if="${#fields.hasErrors('position_id')}" th:errors="*{position_id}"></span><br />
    <input type="submit" value="Submit"/>
</form>
</body>
</html>