<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
<form action="#"
      th:action="@{/results}" th:object="${customer}" method="post">
    <input type="hidden" th:field="*{id}" />
    Title: <input class="form-control" type="text" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br />
    First Name: <input class="form-control" type="text" th:field="*{first_name}" />
    <span th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}"></span><br />
    Last Name: <input class="form-control" type="text" th:field="*{last_name}" />
    <span th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}"></span><br />
    Street Address: <input class="form-control" type="text" th:field="*{street_address}" />
    <span th:if="${#fields.hasErrors('street_address')}" th:errors="*{street_address}"></span><br />
    Zip Code: <input class="form-control" type="text" th:field="*{zip_code}" />
    <span th:if="${#fields.hasErrors('zip_code')}" th:errors="*{zip_code}"></span><br />
    E-mail Address: <input class="form-control" type="text" th:field="*{email_address}" />
    <span th:if="${#fields.hasErrors('email_address')}" th:errors="*{email_address}"></span><br />
    City: <input class="form-control" type="number" th:field="*{city_id}" />
    <span th:if="${#fields.hasErrors('city_id')}" th:errors="*{city_id}"></span><br />
    State:
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1" th:field="*{state_id}">
            <option th:each="st : ${states}" th:text="${st.letter_code}" th:value="${st.id}"></option>
        </select>
    </div>
    <span th:if="${#fields.hasErrors('state_id')}" th:errors="*{state_id}"></span><br />
    Company: <input class="form-control" type="number" th:field="*{company_id}" />
    <span th:if="${#fields.hasErrors('company_id')}" th:errors="*{company_id}"></span><br />
    Position: <input class="form-control"  type="number" th:field="*{position_id}" />
    <span th:if="${#fields.hasErrors('position_id')}" th:errors="*{position_id}"></span><br />
    <input class="btn btn-primary" type="submit" value="Submit"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</form>
</div>
</body>
</html>